<!--<h3 *ngIf="products; else noProduct">{{title}}</h3>-->

<app-category></app-category>
<div class="form-control">
  <input class="form-control" id="productName" placeholder="Arama Metninizi Giriniz" [(ngModel)]="filterText"/>
  <!--ngModel çift yönlü iletişim kurar-->
  <div id="emailHelp" class="form-text" *ngIf="filterText">Şuan <strong>{{filterText}}</strong> aradınız.</div>
</div>


<div class="row " >
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      Bu Kotegoride ürün Yoktur.
    </div>
  </ng-template>
  <div *ngFor="let product of products | productFilter:filterText" class="productBox" >
    <!--productFilter filtreleme için-->
    <img [src]="product.imageUrl" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}} {{product.price | currency:"USD":true:"1.2-2"}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a (click)="addToCard(product)" class="btn btn-primary">Sepete Ekle</a>
    </div>
  </div>
</div>

